@charset "utf-8";
@media (min-width: 1450px) {
  
#click {
	text-decoration: none;
  padding: 80px 50px;
	color: #000000;
	font-weight: 700;
	font-size: 40px;
  margin:  5px 5px;
  border-radius: 150px;
  background: rgba(232,0,0,0.79);
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .1s;
}

#planeta {
	position: absolute;
	top: 400px;
	left: 300px;
	width: 50px;
	height: 50px;
}

p {
  font-size: 20px;
  font-weight: 600;
}

#fly {
	position: absolute;
	top: 700px;
	left: 100px;
}


form {
	text-align: center;
	
}

#click:active {
    color: #F8FF00;
	background: rgba(204,0,0,0.79);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .0);
	padding: 78px 48px;
}
div{
	text-align: center;
}


#msg, #time {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 270px;
  height: 40px;
  border-radius: 10px;
  z-index: 0;
 overflow: hidden;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;   
}

#msg::before, #time::before{
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -350%;
  width: 200%;
  height: 800%;
  background-color: #EF6C00;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#38ef00, #38ef00), linear-gradient(#FFE0B2, #FFE0B2), linear-gradient(#38ef00, #38ef00), linear-gradient(#FFE0B2, #FFE0B2);
  animation: anim-msg 4s linear infinite;
}
#msg::after,  #time::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

@keyframes anim-msg {
  100% {
      transform: rotate(1turn);
  }
}

@keyframes anim-time {
  100% {
      transform: rotate(1turn);
  }
}

#time  {
  position: absolute;
  top: 20px;
  left: 300px;

}

h3 {
  margin: 0px 0px 8px 0px;
  text-align: center;
  font-size: 32px;
}

body {
    background-image: url("Pictures/speef.png");	/* фото на фоне */
	background-repeat: no-repeat;
	background-size:cover;
  background-attachment: fixed;
}

#record {
	position: absolute;
	top: 15%;
  right: 10%;
	width: 400px;
 	padding: 20px 20px 20px 20px;
  font-size: 20px;
	box-shadow: 0 0px 6px 4px rgba(0,60,180,0.35) inset;
	border-radius: 6px;
	background-color: rgba(0,60,180,0.18);
}

#userName {
	font-size: 20px;
  border-radius: 5px;
}

#addButton {
	padding: 5px 5px 3px 5px;
}


#refresh {
  text-decoration: none;
  display: inline-block;
  
  line-height: 45px;
  border-radius: 35px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
	padding: 10px;
  background: rgba(207,255,184,1.00);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

#refresh:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

li {
	border-style: solid;		/*функции границы блока*/
  border-color: black;		/*функции границы блока*/
  border-width: 2px;
	border-radius: 3px;
	padding: 3px;
	margin: 3px;
	background-color: rgba(186,209,255,0.08);
}



#canvas_plot  {
  position: absolute;
	top: 100px;
  margin: auto;
  background: rgba(159, 162, 207, 0.301);
  margin-left: 14px;
}
}

@media (max-width: 1450px) and (min-width: 880px) {
  #click {
    position: absolute;
    top: 400px;
    left: 35%;
    text-decoration: none;
    padding: 60px 20px;
    color: #000000;
    font-weight: 700;
    font-size: 60px;
    margin:  5px 5px;
    border-radius: 150px;
    background: rgba(232,0,0,0.79);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .1s;
  }

  #click:active {
    color: #F8FF00;
    background: rgba(204,0,0,0.79);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .0);
    padding: 58px 18px;
  }

  #planeta {
    position: absolute;
    top: 300px;
    left: 25%;
    width: 50px;
    height: 50px;
  }
  
  #fly {
    position: absolute;
    top: 800px;
    left: 70px;
  }
  
  
  form {
    text-align: center;
  }
  
  
  div{
    text-align: center;
  }

  p {
    font-size: 30px;
    margin-top: 5px;
  }
  
  
  #msg, #time {
    position: absolute;
    top: 100px;
    left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 0;
    overflow: hidden;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;   
  }
  
  #msg::before, #time::before{
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -350%;
    width: 200%;
    height: 800%;
    background-color: #EF6C00;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#38ef00, #38ef00), linear-gradient(#FFE0B2, #FFE0B2), linear-gradient(#38ef00, #38ef00), linear-gradient(#FFE0B2, #FFE0B2);
    animation: anim-msg 4s linear infinite;
  }

  #msg::after,  #time::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
  }
  @keyframes anim-msg {
    100% {
        transform: rotate(1turn);
    }
  }
  @keyframes anim-time {
    100% {
        transform: rotate(1turn);
    }
  }
  
  #time  {
    position: absolute;
    top: 160px;
    left: 20px;
  
  }
  
  h3 {
    margin: 0px 0px 8px 0px;
    text-align: center;
    font-size: 32px;
  }
  
  body {
    background-image: url("Pictures/speef.png");	/* фото на фоне */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
  }
  
  #record {
    position: absolute;
    top: 100px;
    right: 6%;
    width: 300px;
     padding: 40px 20px 20px 40px;
    box-shadow: 0 0px 6px 4px rgba(0,60,180,0.35) inset;
    border-radius: 6px;
    background-color: rgba(0,60,180,0.18);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  #userName {
    font-size: 30px;
    border-radius: 8px;
  }
  
  #addButton {
    padding: 5px 5px 3px 5px;
  }
  
  
  #refresh {
    display: inline-block;
    position: absolute;
    top: 450px;
    right: 15%;
    line-height: 45px;
    border-radius: 35px;
    margin: 10px 20px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    padding: 20px;
    background: rgba(207,255,184,1.00);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .1s;
  }
  
  #refresh:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }
  
  li {
    border-style: solid;		/*функции границы блока*/
    border-color: black;		/*функции границы блока*/
    border-width: 2px;
    border-radius: 3px;
    padding: 3px;
    margin: 10px;
    background-color: rgba(186,209,255,0.08);
  }
  
  #canvas_plot  {
    position: absolute;
    top: 650px;
    left:20%;
      margin: auto;
      background: rgba(159, 162, 207, 0.301);
      margin-left: 14px;
  }
}

  @media (max-width: 880px) {
    body {
        background-color: rgba(3, 40, 107, 0.74);
    }
    
    #page {
        padding-bottom: 20px;
        margin: 100px 100px;
        border: 2px solid #000;
        border-radius: 10px;
        text-align: center;
        background-color: rgb(34, 128, 241);
    }
    
    #field {
        background-color: rgba(34, 127, 241, 0.674);
        padding: 100px 0px;
        
    }
    
    #rC1,#rC2,#rC3{
        padding: 10px 15px;
        border-radius: 20px;
        background-color: coral;
        font-size: 16px;
    }
    #act {
        
        padding: 10px 15px;
        border-radius: 20px;
        background-color: rgb(255, 68, 0);
        font-size: 16px;
        box-shadow: inset 0px 0px 2px;
        
    }
    #rC1:hover, #rC2:hover, #rC3:hover {
        background-color: #2e9b5b;
        border: 2px solid #0f502a;
        color: #ecf0f1;
        cursor: pointer;
    }
    
    #click1 {
        padding: 10px 15px;
        border-radius: 20px;
        background-color: rgb(23, 246, 15);
        box-shadow: 0px 0px 1px 10px rgba(0, 255, 42, 0.382);;
        color: #ecf0f1;
        font-size: 16px;
        font-weight: 800;
        position: absolute;
    }
    
    #click2 {
        padding: 10px 15px;
        border-radius: 20px;
        background-color: rgb(23, 246, 15);
        box-shadow: 0px 0px 1px 10px rgba(0, 255, 42, 0.382);;
        color: #ecf0f1;
        font-size: 20px;
        font-weight: 800;
        position: absolute;
    }
    
    #click1:active {
      
        border-radius: 20px;
        background-color: rgb(23, 246, 15);
        box-shadow: 0px 0px 1px 8px rgba(0, 255, 42, 0.382);;
        color: #ecf0f1;
        font-size: 16px;
        position: absolute;
    }
    
    #result {
        border: 2px solid #000;
        padding: 20px 20px;
        margin: 0px 30px;
        border-radius: 20px;
        background-color: rgb(85, 161, 255);
    }
    }

@media (max-width: 880px) and (min-width: 550px) {
  #click {
    position: absolute;
    top: 250px;
    left: 5%;
    right: 5%;
    text-decoration: none;
    padding: 9% 25%;
    color: #000000;
    font-weight: 700;
    font-size: 60px;
    border-radius: 40px;
    background: rgba(232,0,0,0.79);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .1s;
  }

  #click:active {
    color: #F8FF00;
    background: rgba(204,0,0,0.79);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .0);
    padding: 9% 24%;
  }

  #planeta {
    display: none;
  }
  
  #fly {
    display: none;
  }
  
  
  form {
    text-align: center;
  }
  
  
  div{
    text-align: center;
  }

  p {
    font-size: 30px;
    margin-top: 5px;
  }
  
  
  #msg, #time {
    position: absolute;
    top: 100px;
    left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 0;
    overflow: hidden;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;   
  }
  
  #msg::before, #time::before{
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -350%;
    width: 200%;
    height: 800%;
    background-color: #EF6C00;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#38ef00, #38ef00), linear-gradient(#FFE0B2, #FFE0B2), linear-gradient(#38ef00, #38ef00), linear-gradient(#FFE0B2, #FFE0B2);
    animation: anim-msg 4s linear infinite;
  }

  #msg::after,  #time::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
  }
  @keyframes anim-msg {
    100% {
        transform: rotate(1turn);
    }
  }
  @keyframes anim-time {
    100% {
        transform: rotate(1turn);
    }
  }
  
  #time  {
    position: absolute;
    top: 160px;
    left: 20px;
  
  }
  
  h3 {
    margin: 0px 0px 8px 0px;
    text-align: center;
    font-size: 32px;
  }
  
  body {
    background-image: url("Pictures/speef.png");	/* фото на фоне */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
  }
  
  #record {
    position: absolute;
    top: 460px;
    left: 1%;
    width: 90%;
    box-shadow: 0 0px 6px 4px rgba(0,60,180,0.35) inset;
    border-radius: 6px;
    background-color: rgba(0,60,180,0.18);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  #userName {
    font-size: 30px;
    border-radius: 8px;
  }
  
  #addButton {
    padding: 5px 5px 3px 5px;
  }
  
  
  #refresh {
    display: inline-block;
    position: absolute;
    top: 180px;
    right: 12%;
    line-height: 45px;
    border-radius: 15px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    padding: 8px;
    background: rgba(207,255,184,1.00);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .1s;
  }
  
  #refresh:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }
  
  li {
    border-style: solid;		/*функции границы блока*/
    border-color: black;		/*функции границы блока*/
    border-width: 2px;
    border-radius: 3px;
    padding: 3px;
    margin: 10px;
    background-color: rgba(186,209,255,0.08);
  }
  
  #canvas_plot  {
    position: absolute;
    top: 650px;
    margin-left: -275px;
    background: rgba(159, 162, 207, 0.301);
    scale: 0.85;
  }
}

@media (max-width: 549px) {
  #click {
    position: absolute;
    top: 250px;
    left: 5%;
    right: 15%;
    text-decoration: none;
    padding: 9% 20%;
    color: #000000;
    font-weight: 700;
    font-size: 50px;
    border-radius: 40px;
    background: rgba(232,0,0,0.79);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .1s;
  }

  #click:active {
    color: #F8FF00;
    background: rgba(204,0,0,0.79);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .0);
    padding: 58px 18px;
  }

  #planeta {
    display: none;
  }
  
  #fly {
    display: none;
  }
  
  
  form {
    text-align: center;
  }
  
  
  div{
    text-align: center;
  }

  p {
    font-size: 20px;
    margin-top: 5px;
  }
  
  
  #msg, #time {
    position: absolute;
    top: 100px;
    left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 0;
    overflow: hidden;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;   
  }
  
  #msg::before, #time::before{
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -350%;
    width: 200%;
    height: 800%;
    background-color: #EF6C00;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#38ef00, #38ef00), linear-gradient(#FFE0B2, #FFE0B2), linear-gradient(#38ef00, #38ef00), linear-gradient(#FFE0B2, #FFE0B2);
    animation: anim-msg 4s linear infinite;
  }

  #msg::after,  #time::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
  }
  @keyframes anim-msg {
    100% {
        transform: rotate(1turn);
    }
  }
  @keyframes anim-time {
    100% {
        transform: rotate(1turn);
    }
  }
  
  #time  {
    position: absolute;
    top: 160px;
    left: 20px;
  }
  
  h3 {
    margin: 0px 0px 8px 0px;
    text-align: center;
    font-size: 22px;
  }
  
  body {
    background-image: url("Pictures/speef.png");	/* фото на фоне */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
  }
  
  #record {
    position: absolute;
    top: 500px;
    left: 1%;
    width: 90%;
    box-shadow: 0 0px 6px 4px rgba(0,60,180,0.35) inset;
    border-radius: 6px;
    background-color: rgba(0,60,180,0.18);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  #userName {
    font-size: 22px;
    border-radius: 8px;
  }
  
  #addButton {
    padding: 5px 5px 3px 5px;
  }
  
  
  #refresh {
    display: inline-block;
    position: absolute;
    top: 420px;
    line-height: 45px;
    border-radius: 15px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    padding: 8px;
    left: 30%;
    background: rgba(207,255,184,1.00);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .1s;
  }
  
  #refresh:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }
  
  li {
    border-style: solid;		/*функции границы блока*/
    border-color: black;		/*функции границы блока*/
    border-width: 2px;
    border-radius: 3px;
    padding: 3px;
    margin: 10px;
    background-color: rgba(186,209,255,0.08);
  }
  
  #canvas_plot  {
    position: absolute;
    top: 650px;
    margin-left: -275px;
    background: rgba(159, 162, 207, 0.301);
    scale: 0.85;
  }
}